@model QuanLyBanDienThoai.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Danh Sách Danh Mục</a>

            <span class="breadcrumb-item active">Chi tiết Danh Mục : @Model.CatName </span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Xác nhận xoá danh mục : @Model.CatName</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.CatId</td>
                    </tr>
                    <tr>
                        <td>Tên Danh Mục:</td>
                        <td>@Model.CatName</td>
                    </tr>

                    <tr>
                        <td>Mô tả</td>
                        <td>@Model.Description</td>
                    </tr>

                    <tr>
                        <td>Public:</td>
                        <td>
                            @if (Model.Published == true)
                            {
                                <span class="badge badge-success">Active</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Deactive</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Cover:</td>
                        <td>@Model.Cover</td>
                    </tr>

                    <tr>
                        <td>TIêu đề:</td>
                        <td>@Model.Title</td>
                    </tr>
                    <tr>
                        <td>MetaDesc:</td>
                        <td>@Model.MetaDesc</td>
                    </tr>
                    <tr>
                        <td>MetaKey:</td>
                        <td>@Model.MetaKey</td>
                    </tr>
                    <tr>
                        <td>Alias:</td>
                        <td>@Model.Alias</td>
                    </tr>
                    <tr>
                        <td>SchemaMarkup:</td>
                        <td>@Model.SchemaMarkup</td>
                    </tr>
                    <tr>
                        <td>Ordering:</td>
                        <td>
                            @if (Model.Ordering == null)
                            {
                                <span class="badge badge-danger">Chưa có</span>
                            }
                            else
                            {
                                if (Model.Ordering == 1)
                                {
                                    <span class="badge badge-danger">Order</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">Unorder</span>
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Ảnh đại diện: @Model.Thumb</td>
                        <td>
                            <img width="200px" height="200px" src="~/images/categories/@Model.Thumb" alt="@Model.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>Xác nhận xoá</td>
                        <td>
                            <form asp-controller="AdminCategories" asp-action="Delete" asp-route-id="@Model.CatId" method="post">
                                <input type="hidden" asp-for="CatId" />
                                <input type="submit" value="Xoá" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>