@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<QuanLyBanDienThoai.Models.Order>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Order" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <h2 class="header-title">Orders List</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminOrders" asp-action="Index">Danh Sách Đơn Hàng</a>

            <span class="breadcrumb-item active">Danh sách Đơn Hàng : Page @CurrentPage </span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8"></div>
            <div class="col-lg-4 text-right">
                <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Create" class="btn btn-primary">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Add Orders</span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>

                        <th>ID</th>
                        <th>Đơn hàng</th>
                        <th>Ngày mua</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @item.OrderId
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                                        <h6 class="m-b-0 m-l-10">@item.Customer.FullName</h6>
                                    </div>
                                </td>
                                <td>@item.OrderDate</td>
                                <td>@item.TotalMoney.Value.ToString("#,##0") VNĐ</td>
                                <td>@item.TransactStatus.Status</td>

                                <td>
                                    <a class="btn btn-info m-r-5" asp-area="Admin" asp-controller="AdminOrders" asp-action="Details" asp-route-id="@item.OrderId">View</a>
                                    <a class="btn btn-secondary m-r-5" asp-area="Admin" asp-controller="AdminOrders" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a>
                                    <a class="btn btn-primary m-r-5" asp-area="Admin" asp-controller="AdminOrders" asp-action="ChangeStatus" asp-route-id="@item.OrderId">Cập nhật đơn hàng</a>
                     @*               <a class="btn btn-success m-r-5" asp-area="Admin" asp-controller="AdminOrders" asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>*@
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminOrders" action="Index"></pager>
                </ul>
            </div>
        </div>
    </div>
</div>